
body {
  padding-top: 20px;
}

.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

/** Detail View **/
img.phone {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
}

ul.phone-thumbs {
  margin: 0;
  list-style: none;
}

ul.phone-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.phone-thumbs img:hover {
  cursor: pointer;
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}

.expand-transition {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.expand-enter {
  height: 0;  
  opacity: 0;
}
.expand-leave {
  height: 0;    
  opacity: 0;
}


.phone-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}
/** Detail View **/


img.phone:first-child {
  display: block;
}

.view-container {
  position: relative;
}

.detail-enter {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;  
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.detail-leave {
  background: white;
  position: absolute;
  top: -500px;
  left: 0;
  right: 0;  
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; top: 500px;}
  to { opacity: 1; top: 0;}
}
@-moz-keyframes fade-in {
  from { opacity: 0; top: 500px;}
  to { opacity: 1; top: 0;}
}
@-webkit-keyframes fade-in {
  from { opacity: 0; top: 500px;}
  to { opacity: 1; top: 0;}
}

@keyframes fade-out {
  from { opacity: 1; top: 0;}
  to { opacity: 0; top: -500px;}
}
@-moz-keyframes fade-out {
  from { opacity: 1; top: 0;}
  to { opacity: 0; top: -500px;}
}
@-webkit-keyframes fade-out {
  from { opacity: 1; top: 0;}
  to { opacity: 0; top: -500px;}
}