<!doctype html>
<html>
<head>
  <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />  
  <title>Vue phonecat</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/vue.js"></script>
  <script src="js/lib/vue-router.js"></script>
</head>
<body>

<router-view></router-view>
<script id="phones-list" type="text/x-template">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input v-model="query">
        Sort by:
        <select v-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </div>
      <div class="col-md-10">
        <!--Body content-->

        <ul class="phones">
          <li v-for="phone in phones | filterBy query | orderBy orderProp" class="thumbnail">
            <a href="#/phones/{{phone.id}}" class="thumb"><img v-bind:src="phone.imageUrl"></a>
            <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
            <p>{{phone.snippet}}</p>
          </li>
        </ul>

      </div>
    </div>
  </div> 
</script>
<script id="phones-detail" type="text/x-template">
<div v-if="!$loadingRouteData">
  <img v-bind:src="phone.images[0]" class="phone">

  <h1>{{phone.name}}</h1>

  <p>{{phone.description}}</p>

  <ul class="phone-thumbs">
    <li v-for="img in phone.images">
      <img v-bind:src="img">
    </li>
  </ul>

  <ul class="specs">
    <li>
      <span>Availability and Networks</span>
      <dl>
        <dt>Availability</dt>
        <dd v-for="availability in phone.availability">{{availability}}</dd>
      </dl>
    </li>
    <li>
      <span>Battery</span>
      <dl>
        <dt>Type</dt>
        <dd>{{phone.battery.type}}</dd>
        <dt>Talk Time</dt>
        <dd>{{phone.battery.talkTime}}</dd>
        <dt>Standby time (max)</dt>
        <dd>{{phone.battery.standbyTime}}</dd>
      </dl>
    </li>
    <li>
      <span>Storage and Memory</span>
      <dl>
        <dt>RAM</dt>
        <dd>{{phone.storage.ram}}</dd>
        <dt>Internal Storage</dt>
        <dd>{{phone.storage.flash}}</dd>
      </dl>
    </li>
    <li>
      <span>Connectivity</span>
      <dl>
        <dt>Network Support</dt>
        <dd>{{phone.connectivity.cell}}</dd>
        <dt>WiFi</dt>
        <dd>{{phone.connectivity.wifi}}</dd>
        <dt>Bluetooth</dt>
        <dd>{{phone.connectivity.bluetooth}}</dd>
        <dt>Infrared</dt>
        <dd>{{phone.connectivity.infrared | checkmark}}</dd>
        <dt>GPS</dt>
        <dd>{{phone.connectivity.gps | checkmark}}</dd>
      </dl>
    </li>
    <li>
      <span>Android</span>
      <dl>
        <dt>OS Version</dt>
        <dd>{{phone.android.os}}</dd>
        <dt>UI</dt>
        <dd>{{phone.android.ui}}</dd>
      </dl>
    </li>
    <li>
      <span>Size and Weight</span>
      <dl>
        <dt>Dimensions</dt>
        <dd v-for="dim in phone.sizeAndWeight.dimensions">{{dim}}</dd>
        <dt>Weight</dt>
        <dd>{{phone.sizeAndWeight.weight}}</dd>
      </dl>
    </li>
    <li>
      <span>Display</span>
      <dl>
        <dt>Screen size</dt>
        <dd>{{phone.display.screenSize}}</dd>
        <dt>Screen resolution</dt>
        <dd>{{phone.display.screenResolution}}</dd>
        <dt>Touch screen</dt>
        <dd>{{phone.display.touchScreen | checkmark}}</dd>
      </dl>
    </li>
    <li>
      <span>Hardware</span>
      <dl>
        <dt>CPU</dt>
        <dd>{{phone.hardware.cpu}}</dd>
        <dt>USB</dt>
        <dd>{{phone.hardware.usb}}</dd>
        <dt>Audio / headphone jack</dt>
        <dd>{{phone.hardware.audioJack}}</dd>
        <dt>FM Radio</dt>
        <dd>{{phone.hardware.fmRadio | checkmark}}</dd>
        <dt>Accelerometer</dt>
        <dd>{{phone.hardware.accelerometer | checkmark}}</dd>
      </dl>
    </li>
    <li>
      <span>Camera</span>
      <dl>
        <dt>Primary</dt>
        <dd>{{phone.camera.primary}}</dd>
        <dt>Features</dt>
        <dd>{{phone.camera.features.join(', ')}}</dd>
      </dl>
    </li>
    <li>
      <span>Additional Features</span>
      <dd>{{phone.additionalFeatures}}</dd>
    </li>
  </ul>
</div>
</script>
<script src="js/app.js"></script>
</body>
</html>